<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Search by age.." aria-label="Recipient's username" aria-describedby="basic-addon2" [(ngModel)]="searchCustomers.age">
    <div class="input-group-append">
      <button (click)='getCustomerAge(searchCustomers.age)' class="btn btn-outline-secondary" type="button">Button</button>
    </div>
</div>
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Search by name.." aria-label="Recipient's username" aria-describedby="basic-addon2" [(ngModel)]="searchCustomers.name">
    <div class="input-group-append">
      <button (click)='getCustomerName(searchCustomers.name)' class="btn btn-outline-secondary" type="button">Button</button>
    </div>
</div>

<div *ngIf="existe">
  <table class="table table-striped" >
    <thead>
        <tr>
          <th scope="col"><input type="checkbox" class="checkthis" /></th>
          <th scope="col">id</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Cell Phone</th>
          <th scope="col">Email</th>
          <th scope="col">Age</th>
          <th>#</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of searchCustomers | async">
          <th scope="row"><input type="checkbox" class="checkthis" /></th>
          <td>{{ customer.id }}</td>
          <td>{{ customer.name }}</td>
          <td>{{ customer.lastName }}</td>
          <td>{{ customer.cellPhone }}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.age }}</td>
          <td scope="row"><button class="btn btn-success btn-sm" (click)='updateUser(customer)'>Edit</button>
                          <button class="btn btn-danger btn-sm" (click)='deleteUser(customer)'>Delete</button>
                          <button (click)='sairDaEdicao()' class="btn btn-outline-danger">X</button>
          </td>
        </tr>
      </tbody>
  </table>
</div>
<div>
    <tr><app-customer-update></app-customer-update></tr>
</div>
<table class="table table-striped">
        <thead>
          <tr>
            <th scope="col"><input type="checkbox" class="checkthis" /></th>
            <th scope="col">id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Cell Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Age</th>
            <th>#</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers$ | async" >
            <th scope="row"><input type="checkbox" class="checkthis" /></th>
            <td>{{ customer.id }}</td>
            <td>{{ customer.name }}</td>
            <td>{{ customer.lastName }}</td>
            <td>{{ customer.cellPhone }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.age }}</td>
            <td scope="row"><button class="btn btn-success btn-sm" (click)='updateUser(customer)'>Edit</button>
                            <button class="btn btn-danger btn-sm" (click)='deleteUser(customer)'>Delete</button>
            </td>
          </tr>
        </tbody>
      </table>

